.common {
	&__control {
		position: relative;
		background-color: var(--background);
		background: none;
		color: var(--primary);

		transition: 0.2s linear background-color;

		&:hover,
		&:active {
			background-color: var(--highlight);
			color: var(--background);
		}
	}

	&__control#{&}__selected {
		background-color: var(--highlight);
		color: var(--background);
	}

	&__link {
		color: var(--primary);
		background: none;
		border: none;
		margin: 0.5rem 0;
		padding: 0.5rem;
		font-size: 1.25rem;
		letter-spacing: 0.1rem;
		text-transform: lowercase;
	}

	&__button {
		color: var(--primary);
		background: none;
		border: none;
		margin: 0.5rem 0;
		padding: 0.5rem;
		font-size: 1.25rem;
		letter-spacing: 0.1rem;
		text-transform: lowercase;
	}

	&__select {
		border: none;
		margin: 0.5rem 0;
		padding: 0.5rem;
		font-size: 1.25rem;
		letter-spacing: 0.1rem;

		&::before {
			content: "// " / "";
		}
	}

	&__rating {
		font-family: var(--font-rubik-mono-one);
		color: var(--primary);
		font-size: 2rem;
		height: 2rem;

		&--large {
			font-size: 2.5rem;
			height: 2.5rem;
		}
	}

	@media (min-width: 1400px) {
		&__rating {
			font-size: 3rem;
			min-height: 3rem;

			&--large {
				font-size: 3.5rem;
				min-height: 3.5rem;
			}
		}
	}
}