html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
  padding: 1rem;
  font-family: var(--font-rubik-mono-one);
  font-size: 0.9rem;
  
  td, th {
    text-align: right;
  }
}