.result {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	border: 3px solid var(--detail);
	border-radius: 2rem;
	border-bottom-right-radius: 0;
	padding: 0.5rem 0.5rem;
	height: min-content;

	&__container {
		color: var(--primary);
		position: relative;
		background: none;
		border: none;
		display: flex;
		flex-direction: column;
	}

	&__show-more {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		&--collapsed {
			border: none;
			height: 0;
			overflow: hidden;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		//min-width: 12rem;
	}

	&__right {
		display: grid;
		flex-direction: row;
		align-items: center;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
	}

	&__title {
		font-size: 1rem;
		letter-spacing: 0.3rem;
		text-transform: lowercase;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&__metadata {
		color: var(--secondary);
		font-size: 0.8rem;
		letter-spacing: 0.3rem;
		text-transform: lowercase;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&__bold {
		font-weight: bold;
	}

	&__difficulty {
		font-family: var(--font-rubik-black);
		font-weight: 900;
		font-size: 0.9rem;
		text-transform: uppercase;
	}

	&__modifier {
		font-weight: bold;
		text-transform: uppercase;
	}

	&__level {
		font-family: var(--font-rubik-mono-one);
		font-size: 3rem;
		height: 3rem;
	}

	&__unranked {
		color: var(--secondary);
	}

	&__accuracy {
		font-family: var(--font-rubik-mono-one);
		color: var(--primary);
		font-size: 1.5rem;
		height: 1.5rem;
	}

	&__score {
		font-family: var(--font-rubik-mono-one);
		color: var(--primary);
		font-size: 2rem;
		height: 2rem;
	}
}