.result {
	position: relative;
	display: flex;
	flex-direction: column;

	&__bottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;
		min-width: 12rem;
	}

	&__right {
		display: grid;
		flex-direction: row;
		align-items: center;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
	}

	&__title {
		font-size: 1rem;
		letter-spacing: 0.3rem;
		text-transform: lowercase;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&__metadata {
		color: var(--secondary);
		font-size: 0.8rem;
		letter-spacing: 0.3rem;
		text-transform: lowercase;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&__bold {
		font-weight: bold;
	}

	&__difficulty {
		font-family: var(--font-rubik-black);
		font-weight: 900;
		font-size: 1rem;
		height: 1rem;
		text-transform: uppercase;
	}

	&__modifier {
		font-weight: bold;
		text-transform: uppercase;
	}

	&__level {
		font-family: var(--font-rubik-mono-one);
		font-size: 2.5rem;
		height: 2.5rem;
	}

	&__rating {
		font-family: var(--font-rubik-mono-one);
		color: var(--primary);
		font-size: 3.5rem;
		height: 3.5rem;
	}

	&__unranked {
		color: var(--secondary);
	}

	&__accuracy {
		font-family: var(--font-rubik-mono-one);
		color: var(--primary);
		font-size: 1.5rem;
		height: 1.5rem;
	}

	&__score {
		font-family: var(--font-rubik-mono-one);
		color: var(--primary);
		font-size: 2rem;
		height: 2rem;
	}
}