.layout {
	position: relative;

	background: var(--primary);
	color: var(--primary);
	height: 100vh;

	&__container {
		position: relative;

		background: var(--background);

		padding: 1rem;
		max-width: 1400px;
		height: 100%;

		margin: 0 auto;

		overflow: hidden;
	}

	&__content {
		position: relative;

		height: 100%;

		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		overflow: auto;
	}

	&__corner {
		position: absolute;
		left: 0;
		top: 0;

		width: 8rem;
		height: 8rem;

		clip-path: polygon(0% 0%, 100% 0%, 0% 100%);

		&__button {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			margin: 0;
			padding: 0.5rem;
			width: 100%;
			height: 100%;
			font-size: 1rem;
			background: var(--primary);
			color: var(--background);
		}
	}

	&__header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		font-family: var(--font-rubik-black);
		font-weight: 900;
		font-size: 3rem;
		font-style: italic;
		color: var(--background);
		-webkit-text-stroke: 0.1rem var(--primary);
	}

	&__nav {
		width: 100%;
	}

	&__nav-list {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 12rem;
		}
	}

	&__main {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__alert {
		height: 5rem;
		width: 90%;
		padding: 0.5rem;
		background-color: var(--primary);
		color: var(--background);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1.25rem;
	}

	&__path {
		color: var(--highlight);
	}

	&__big-text {
		position: absolute;
		color: var(--primary);
		font-size: 15rem;

		font-family: var(--font-rubik-black);
		font-weight: 900;
		-webkit-text-stroke: 0.5rem var(--background);

		&--top-right {
			top: -8rem;
			right: -2rem;
		}

		&--bottom-left {
			bottom: -10rem;
			left: -3rem;
		}
	}

	&__circle {
		position: absolute;
		border: 1.25rem solid var(--detail);
		border-radius: 50%;
		height: min(35vw, 900px);
		width: min(35vw, 900px);
		right: -10%;
		bottom: -15%;

		--cut-length: 12.5%;

		clip-path: polygon(50% 50%, var(--cut-length) 0, 100% 0, 100% 100%, 0 100%, 0 var(--cut-length), 50% 50%);

		animation: rotate_circle 6s steps(18, end) infinite forwards;

		@media (prefers-reduced-motion: reduce) {
			animation: none;
		}
	}
}

@keyframes rotate_circle {
	100% {
		transform: rotate(360deg);
	}
}