.ratings-info {
	display: contents;

	&__table {
		background-color: var(--background);
	}

	&__header {
		color: var(--secondary);

		border: 1px solid var(--highlight);
	}

	&__data {
		border: 1px solid var(--highlight);
	}

	&__highlight {
		color: var(--detail);
	}
}