.scores {
	display: contents;

	&__rating {
		font-family: var(--font-rubik-mono-one), Arial, Helvetica, sans-serif;
		color: var(--primary);
		font-size: 3rem;
	}

	&__score {
		color: var(--primary);
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		font-size: 1.5rem;
	}

	&__filters {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&__sorts {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
	}

	&__high-score {
		font-family: var(--font-rubik-mono-one), Arial, Helvetica, sans-serif;
		color: var(--primary);
		font-size: 2rem;
	}

	&__grid {
		display: grid;
		width: 75%;
		grid-template-columns: 1fr;
		gap: 1rem;
		padding: 0 1rem;
	}
}