.scores {
	display: contents;

	&__score {
		color: var(--primary);
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		font-size: 1.5rem;
	}

	&__filters {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&__sorts {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
	}

	&__high-score {
		font-family: var(--font-rubik-mono-one);
		color: var(--primary);
		font-size: 2rem;
	}

	&__grid {
		display: grid;
		max-width: 1100px;
		grid-template-columns: 1fr;
		gap: 1rem;
		padding: 0 1rem;
	}
}