.top-cut {
	display: contents;

	&__grid {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		padding: 0 1rem;

		@media (min-width: 1400px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__score {
		color: var(--primary);
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		font-size: 1.5rem;
	}
}